@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
* {
  font-family: Raleway, sans-serif;
}
body {
  margin: 0 auto;
  color: #fff;
  background-color: #1c2431;
}
.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: minmax(300px, auto);
}
header {
  grid-area: 1/1/3/2;
  background-color: #1e2a3a;
  text-align: center;
}
header .logo {
  color: #fffaf4;
}
header .logo span {
  color: #ffe778;
  font-weight: 800;
}
header .portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  max-width: 80%;
}

header p {
  font-size: 0.875rem;
  padding: 1.2rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #282f3c;
}
main {
  line-height: 2rem;
  grid-area: 1/2/2/3;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.author-info h1 {
  color: #fff;
}
.author-info p {
  color: #ffffffc2;
}
.avatar {
  max-height: 300px;
}
figcaption {
  text-align: center;
  color: rgba(255, 255, 255, 0.699);
}
.author-info article h1 {
  font-size: 2rem;
  margin: 0;
}
.author-info article h3 {
  font-weight: 100;
}
.buttons {
  display: flex;
  flex-direction: column-reverse;
}
.buttons a {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
  color: #fff;
  text-decoration: none;
}
.buttons .home-link {
  color: #00b1e7;
  text-decoration: none;
}

.buttons .posts-link {
  color: #f4822f;
  text-decoration: none;
}

.buttons .home-link:hover {
  color: #00b1e7;
  font-weight: 900;
  text-decoration: none;
}

.buttons .posts-link:hover {
  color: #f4822f;
  font-weight: 900;
  text-decoration: none;
}
.posts {
  grid-area: 2/2 / auto/3;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.posts article {
  border-bottom-color: #1e2a3a;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 50px;
  line-height: 2rem;
}
.posts article h3 {
  color: #ffe778;
  font-weight: 600;
  font-size: 1.6rem;
}
.posts article p {
  color: #e3f6f5;
  font-weight: 200;
}
.posts article ul {
  list-style-type: none;
  padding-left: 0px;
  display: grid;
  grid-gap: 2rem;
  justify-content: start;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
}

.posts article ul li a {
  text-decoration: none;
}
.posts article ul li a:hover {
  color: #f89d13;
}

.facebook {
  color: #5b7ec8;
}
.twitter {
  color: #02b3e4;
}
.linkedin {
  color: #0077b5;
}
/* for Medium Screens */
@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
  }
  header .portrait {
    display: none;
  }
  .display-none{
    display: none;
  }
  header p {
    display: none;
  }
  main {
    line-height: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  .avatar {
    max-height: 30vh;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
}
/* for Small screens */
@media (max-width: 600px) {
  * {
    font-size: small;
  }
  header {
    font-size: 0.6rem;
  }
  main {
    display: grid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }
  figure {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
  }
}
