<!DOCTYPE html>
<html lang="en">
  
<!-- Start Head-->
<head>
  <link rel="stylesheet" href="../css/blog.css" type="text/css">
  <title>Blog Posts</title>
</head>
<!-- End Head-->

<!--Start body-->
<body>
  <!-- Start Container -->
  <div class="container">
    <!-- Start Header-->
    <header>
      <h2 class="logo"><span>V</span>incent</h2>
      <figure> 
        <img src="../images/blue-portrait.jpg" class="portrait" alt="Van gogh">
        <figcaption class="display-none">Van gogh</figcaption>
      </figure>
      <p>My name is <strong>vincent van gogh </strong>, i paint what i dream and i dream what i paint</p>
      <div class="buttons">
        <a href="index.html" class="home-link" target="_blank"> Go back to home </a>
        <a href="#posts" class="posts-link">Read full posts</a>
      </div>

    </header>
    <!-- End of Header-->
    <!-- Start Main-->
    <main>
      <!-- This Division Contains Author Info-->
      <div class="author-info">
        <article>
          <h1><strong>Van gogh</strong></h1>
          <h3>I'm an Artist, i went to Anton Mauve </h3>
          <p>“Vincent van Gogh, in full Vincent Willem van Gogh, (born March 30, 1853, Zundert, Netherlands—died July 29, 1890, Auvers-sur-Oise, near Paris, France), Dutch painter, generally considered the greatest after Rembrandt van Rijn, and one of the greatest of the Post-Impressionists. ” </p>
        </article>

      </div>
      <!-- End of Author info div-->
      <figure>
        <img src="../images/self-portrait.jpg " class="avatar" alt="Van gogh">
        <figcaption> Self portrait -Van gogh</figcaption>
      </figure>

    </main>
    <!-- End Main-->
    <!-- Start Of posts-->
    <div id="posts" class="posts">
      <!-- Start of Post no.1-->
      <article class="article-1" id="article-1">
        <h3><strong>Lorem ipsum</strong></h3>
        <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
        <p>Spread the love and share the post </p>
        <ul>
          <li><a class="facebook" href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li><a class="twitter" href="https://twitter.com/" target="_blank">Twitter</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
        </ul>
      </article>
      <!-- End of Post no.1-->
      <!-- Start of Post no.2-->
      <article class="article-2" id="article-2">
        <h3><strong>Lorem ipsum</strong></h3>
        <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
        <ul>
          <li><a class="facebook" href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li><a class="twitter" href="https://twitter.com/" target="_blank">Twitter</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
        </ul>
      </article>
      <!-- End of Post no.2-->
      <!-- Start of Post no.3-->
      <article class="article-3" id="article-3">
        <h3><strong>Lorem ipsum</strong></h3>
        <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
        <ul>
          <li><a class="facebook" href="https://www.facebook.com/" target="_blank">Facebook</a></li>
          <li><a class="twitter" href="https://twitter.com/" target="_blank">Twitter</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
        </ul>
      </article>
      <!-- End of Post no.3-->

    </div>
    <!-- End Of posts-->
  </div>
  <!-- End Container-->

</body>
<!-- End Body-->

</html>
