<!DOCTYPE html>
<!-- Start HTML-->
<html lang="en">
<!--Start Head-->

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/index.css" type="text/css">
  <title> Pesronal Blog</title>
</head>
<!--End Head-->
<!--Start Body -->

<body>
  <!--Start Container "The place in which i'll put all my elemets because i wanna give them the same margin-->
  <div class="container">
    <!--Start Navigation bar-->
    <nav>
      <h2 class="logo"><span>V</span>incent</h2>
      <ul>
        <li><a href="index.html" target="_blank"> Home</a></li>
        <li><a href="blog.html" target="_blank">Blog</a></li>
      </ul>
    </nav>
    <!-- End Navigation bar-->
    <h2 class="latest-posts"> <i>Latest Posts</i> </h2>
    <!--Start Section "The blog panels go here-->
    <section class="blog-post-card">
      <!-- Start of Post no.1-->
      <div class="post-1 posts">
        <figure>
          <img src="../images/van-gogh.png" alt="Van gogh">
          <figcaption> Author Image 1</figcaption>
        </figure>
        <article>
          <h3><strong>Lorem ipsum</strong></h3>
          <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
          <a href="../html/blog.html#article-1" role="button" class="posts-link button">Read full post</a>
        </article>
      </div>
      <!-- End of Post no.1-->
      <!-- Start of Post no.2-->
      <div class="post-2 posts">
        <figure>
          <img src="../images/vincent-van-gogh(1).png" alt="Van gogh">
          <figcaption> Author Image 2</figcaption>
        </figure>
        <article>
          <h3><strong>Lorem ipsum</strong></h3>
          <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
          <a href="../html/blog.html#article-2" class="posts-link button">Read full post</a>
        </article>
      </div>
      <!-- End of Post no.2-->
      <!-- Start of Post no.3-->
      <div class="post-3 posts">
        <figure>
          <img src="../images/vincent-van-gogh(2).png" alt="Van gogh">
          <figcaption> Author Image 3</figcaption>
        </figure>
        <article>
          <h3><strong>Lorem ipsum</strong></h3>
          <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt dui ut ornare lectus sit amet est. Mattis pellentesque id nibh tortor id aliquet lectus proin nibh.</p>
          <a href="../html/blog.html#article-3" class="posts-link button">Read full post</a>
        </article>
      </div>
      <!-- End of Post no.3-->
      <!-- Creating a button that goes to the Blog post page-->
      <form action="blog.html" class="form">
        <input type="submit" class="full-blog" value="See all of our posts">
      </form>
      <!--End of button-->
    </section>
    <!-- End of Section-->
    <!--Start Footer -->
    <footer>
      <h3> All copy rights are reservd &copy;</h3>
      <br>
      <p class="designed"> Designed by: <strong><span>M</span>arina <span>K</span>hamis &#10084;</strong></p>
    </footer>
    <!-- End footer-->
  </div>
  <!-- End container-->
</body>
<!--End Body -->

</html>
<!-- End HTML-->
